/* FLEXBOX LAYOUT SETUP */

/* 1. Body is a flex container in a column layout */
body {
    display: flex;
    flex-direction: column;
}

/* 2. Main is a flex container in a row layout */
main {
    display: flex;
    flex-direction: row;
    flex: auto; /* automatic height/width */
}

/* 3. Article takes 2/3 of the space */
article {
    flex: 2;
    overflow-y: auto; /* allow scrolling */
}

/* 4. Aside takes 1/3 of the space */
aside {
    flex: 1;
    overflow-y: auto; /* allow scrolling */
}

